<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.skripsi.pawsandclaws">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AdministratorActivity" />
        <activity
            android:name=".activities.DoctorListActivity"
            android:label="@string/doctor_list" />
        <activity
            android:name=".activities.DoctorUpdateActivity"
            android:label="@string/doctor_update" />
        <activity
            android:name=".activities.DoctorInsertActivity"
            android:label="@string/doctor_insert" />
        <activity
            android:name=".activities.CustomerListActivity"
            android:label="@string/customer_list" />
        <activity
            android:name=".activities.CustomerInsertActivity"
            android:label="@string/customer_insert" />
        <activity
            android:name=".activities.CustomerDetailActivity"
            android:label="@string/customer_detail" />
        <activity
            android:name=".activities.CustomerUpdateActivity"
            android:label="@string/customer_update" />
        <activity
            android:name=".activities.ReportActivity"
            android:label="@string/report" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/profile" />
        <activity
            android:name=".activities.CustomerActivity"
            android:label="@string/app_name" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>